{% extends "base_generic.html" %}
{% load static %}

{% block head %}
<link href="{% static 'homepage/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="list-group w-auto">
    <a href="{% url 'hangtough:index' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{% static 'images/favicon.ico' %}" alt="star-realms" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">Hang Tough</h6>
                <p class="mb-0 opacity-75">See how long you can hang on to your spot!</p>
            </div>
        </div>
    </a>
</div>
{% endblock %}